!!! 5
%html
  %head
    %title ruram
    %script{:type => "text/javascript",
      :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
  %body{:style => "margin: 1em auto; width: 800px;"}
    %h1 ruram
    %div#left
      %h2 input
      %form
        %textarea#input{:cols => 20, :rows => 10}
          clr 0
        %br
        %input{:type => :button, :value => "Go", :onclick => "clicked();"}
        %img#loading{:alt => "Loading...", :style => "display:none;",
          :src => "http://gamma.mini.pw.edu.pl/~stepienj/logo/logo-anim-micro.gif"}
    %div#right
      %h2 output
      %pre#output
      :javascript
        function clicked() {
          $('#loading').show();
          $('#output').load('/run', {code: $('#input').val()},
            function() { $('#loading').hide(); });
        }
    %a{:href => "http://github.com/stepienj/ruram"}
      %img{:style => "position: absolute; top: 0; left: 0; border: 0;",
        :src => "http://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png",
        :alt => "Fork me on GitHub"}
